.SearchField{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}